{% extends "cards/base.html" %}
{% block content %}
  <div>
      <b>{{ object.deck_name }}</b>
      <small>
          (Card created: {{ object.date_created|date:"F d, Y" }})
          {% if object.author == user %}
          <a href="{% url 'deck-update' object.id %}">Update</a>
          <a href="{% url 'deck-delete' object.id %}">Delete</a>
          {% endif %}
      </small>
  </div>

  <table border="1">
  {% for card in cards %}
  <tr>
      <td><a href="{% url 'card-detail' card.id %}">{{ card.front }}</a></td>
      <td><i>{{ card.back }}</i></td>
  </tr>
  {% endfor %}
  </table>
{% endblock content %}
