{% extends "cards/base.html" %}
{% block content %}
  <h1>DE Cards Home</h1>
  <ul>
  {% for deck in decks %}
  <li>{{ deck.deck_name }}<a href="{% url 'deck-detail' deck.id %}">update</a></li>
  {% endfor %}
  </ul>

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  {% endif %}
{% endblock content %}
