{% extends "cards/base.html" %}
{% block content %}
  <h1>DE Cards Home</h1>
  {% for card in cards %}
  <div>
      <a href="{% url 'card-detail' card.id %}">{{ card.front }}</a>:
      <i>{{ card.back }}</i>
      <small>
          (Card created: {{ card.date_created|date:"F d, Y" }} by {{ card.author }})
      </small>
  </div>
  {% endfor %}
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}

  {% endif %}
{% endblock content %}
